<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>JetSpree Add New Product</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="container">
	<div class="row">
<form class="form-horizontal" action="" method="post">
<fieldset>


<div class="form-group">
<legend>Add Product</legend>

</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="name">Product Name</label>  
  <div class="col-md-6">
  <input type="text" id="name" name="name" placeholder="Enter product name" maxlength="100" class="form-control input-md" required />
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="price">Price</label>  
  <div class="col-md-6">
  <input type="text" id="price" name="price" placeholder="Enter product price" maxlength="50" class="form-control input-md" required />
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="brand">Brand</label>  
  <div class="col-md-6">
  <input type="text" id="brand" name="brand" placeholder="Enter brand name" maxlength="50" class="form-control input-md" required />
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
	</div>
</div>
</body>
</html>